<!-- Header section start-->
<div style="margin-top:5px; margin-bottom: 5px;">
<center>
    <h1>INFOTECH <b style="color:brown;">Edge</b> Pvt Ltd..</h1>
</center>
</div>
<!-- Header section stop-->
<!-- Navigation section start-->
<div style="margin-top: 5px; margin-bottom:5px;">
    <div style="margin-left:5px; float:left">
        <a href="/home">Home</a>&nbsp;|&nbsp;
        <a href="/about">About</a>&nbsp;|&nbsp;
        <a href="/contact">Contact</a>&nbsp;|&nbsp;
        <a href="/feedback">Feedback</a>&nbsp;|&nbsp;
    </div>
    <div style="margin-right:5px; float: right;">
        <a href="/register">Register</a>&nbsp;|&nbsp;
        <a href="/login">Login</a>&nbsp;|&nbsp;
        <a href="/logout">Logout</a>&nbsp;|&nbsp;
    </div>
    <div style="clear: both;"></div>
</div>

<div style="margin-top:5px;margin-bottom:5px;">
    {% block contentarea %}

    {% endblock %}
</div>

<!-- Footer section start-->
<!-- <div style="margin-top:5px;margin-bottom:5px;">
    <footer>
        <center>
            <h1>Infotech Include form</h1>
        </center>
        
        
    </footer>


</div> -->